.container {
    display: flex;
    border: solid red 3px;
    justify-content: space-around;
}

.playerScore {
    width: 175px;
    height: 200px;
    border: solid black 2px;
}
 .pScoreText {
     border: solid gold 2px;
 }

.display {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: solid black 2px;
    width: 500px;
    height: 250px;
    color: red;
}

.computerScore {
    width: 175px;
    height: 200px;
    border: solid black 2px;
}